 <h2>The <%= @sub.title %>  sub</h2>
<br>
Description:
<br>
<%= @sub.description %>
<br>
Moderator: <%= @sub.moderator.username %>

<% if @sub.moderator == current_user %>
    <a href="<%= edit_sub_url  %>">Edit sub</a>
  <% end %>

  <%= link_to "Make a Post", new_post_url %>

  <br>

  <% Post.all.each do |post| %>
    <% if post.sub_id == @sub.id %>
      <ul>
        <li><a href=" <%= post_url(post.id) %> "><%= post.title %></a></li>
      </ul>
    <% end %>
  <% end %>

  
