<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
  <%= current_user.username %>
  <form action=" <%= new_session_url  %> " method="post">
    <input type="hidden" name="Authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">

    <input type="submit" name="name" value="Log out">
  </form>
  <% else  %>
  <% end %>

<%= yield %>

</body>
</html>
